.cmt {
    margin-top: 50px;
}

.flag-icon-es {
    background-image: url(/flags/es.svg);
}

.flag-icon-md {
    background-image: url(/flags/md.svg);
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
    color: grey;
    padding-left: 15px;
    padding-right: 10px;

}